/* LOGIN / REGISTER PAGE */

.loginRegisterPage {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginRegisterPageButtons button {
    margin-top: 20px;
    margin-right: 20px;
}

/* PROFILE PAGE */
.profilePage {
    position: relative;
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileInformation {
    width: 100%;
    display: flex;
    align-items: center;
}
.profileInfoSpace {
    width: 100%;
    margin: 20px;
}
.profileInfoSpace small {
    font-size: 12px;
}
.profilePage .profileAvatar {
    margin-bottom: 20px;
}
.profileBackArrow {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
